<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @person.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @person.nickname %>
</p>

<p>
  <strong>Image:</strong>
  <%= @person.image %>
</p>

<p>
  <strong>Company:</strong>
  <%= @person.company %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @person.notes %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
